@media (min-width: 480px){

}
@media (min-width: 768px){
	.desktopnav-cont{
		background-color: paleturquoise/*#92d6ea*/;
		/*padding-top: 6px;*/
	}
	#desktop-nav{
		display: grid;
		width: 728px;
		margin: auto;
	}
	#mobilenav-cont{
		display: none;
	}

	.for-nav {
		display: grid;
		grid-template-rows: 100%;
		padding: 10px 0;
		/*grid-template-columns: repeat(5, 1fr);*/
	}
	#desktop-nav a {
		margin: auto 3px;
		text-align: center;
	    color: #1a202b;
		font-size: 12px;
		font-weight: 600;
		letter-spacing: .1rem;
		text-decoration: none;
		text-transform: uppercase;
		background: transparent;
	}
	#desktop-nav a:hover {
		color: #fff;
		text-decoration: none;
	}
	.container{
		width: 728px;
	}
}
	

@media (min-width: 992px){

}
@media (min-width: 1366px){
	.desktopnav-cont{
		background-color: mediumspringgreen;
		/*padding-top: 6px;*/
	}
	#desktop-nav{
		width: 1266px;
		margin: auto;
	}
	.container{
		/*width: fit-content;*/
	}
a.bttn,
input[type=submit]{
    border-color: mediumspringgreen;
    background-color: mediumspringgreen;
	box-shadow: #aaa 2px 3px 7px 0px;
}


a.bttn:hover, input[type=submit]:hover{
	border-color: #51ff67;
	background-color: #51ff67;
	color: darkblue; /*ghostwhite*/
    box-shadow: #313131 2px 3px 13px 0px;
}
}
@media (min-width: 1440px){
	
}
@media (min-width: 2560px){
	.site{
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"na ca"
			"fa fa"
		;
	}
	.for-nav {
		display: block;
		grid-template-columns: unset !important;
		grid-template-columns: unset !important;
	}
	#desktop-nav{
		width: unset;
	}
	#desktop-nav a {
		color: #1a202b;

	}
	.for-nav>a{
		display: block;
	}
	.container{
		/*width: fit-content;*/
	}
}